* {
  font-family: 'Montserrat', sans-serif;
}
*:focus { outline: none; border: none; }

h1, h2, h5 { color: #7aa6b2; }

h2, h3, h4, h5 { margin: 5px 0; }
h3 { margin-top: 0; font-size: 18px; }

p {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  margin-bottom: 0;
}

button {
  text-transform: uppercase;
  border: none;
  color: white;
}

input, textarea {
  border-radius: 5px;
  margin-bottom: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: normal;
  padding: 5px 10px;
}

#header { position: absolute; top: 0; z-index: 100; width: 100%; }

#home, #login { padding: 0 20px; }

.dropzone {
  height: 30px;
  background-color: #eee;
}
