* {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h5 { color: #7aa6b2; }

h3 { margin-top: 0; font-size: 18px; }

p {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

button {
  text-transform: uppercase;
  border: none;
  color: white;
}

.dropzone {
  height: 30px;
  background-color: #eee;
}
