input {
  margin-bottom: 5px;
  width: 100%;
  border: 3px solid #eee;
}

#userLogin, #userSignUp {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#login { text-align: center; margin-top: 50px; }

@media screen and (min-width: 480px) {
  #userLogin, #userSignUp, input { width: 380px; }
}
