#login { text-align: center; margin-top: 50px; }

input {
  margin-bottom: 5px;
  width: 100%;
  border: 3px solid #eee;
}

.loginError {
  font-size: 11px;
  text-transform: uppercase;
  margin-top: 5px;
  background-color: #fafafa;
  padding: 5px;
  display: none;
}

#userLogin, #userSignUp {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 5px;
  border-radius: 5px;
}



@media screen and (min-width: 480px) {
  #login { width: 380px; }
}
